/*Combine multiples*/
#buttons-wrapper,
#buttons-wrapper>form {
     padding:10px;
     border:1px solid black;
}
#buttons-wrapper {
     background:orange;
}


/*Rename classes/ids for readability*/
#profile-pic{
     margin-top: 50px;
}



/*Organize CSS*/

/*generic tags*/
body{
     background-image:url(../images/anImage.png);
}
a{
     color:red;
}
a:hover{
     color:purple;
}
/*header section*/
header{
     height:80px;
}
header>ol{
     list-style: none;
}

header #navigation-wrapper{
     float:left;
}
/*footer section*/
footer{
     text-align: right;
}
footer>#company-name{
     font-weight: bold;
}


.list-item{
     width:200px;
}
#container>.col{
     width:50%;
}

#container>img{
     border:1px solid red;
}



/*Create classes for large css changes
$("#container").css(
     {background:"red",
     fontSize:"12px",
     color:"purple",
     boxShadow:"0 0 10px #ccc";
     }
)
*/
/*to control different states of a container*/
$("#container").addClass(".container-active");
.container-active {
     background:"red";
     font-size:"12px";
     color:"purple";
     box-shadow:"0 0 10px #ccc";
}


/*Remove unnecessary CSS */
#myDiv{
     margin:10px 0px 0px 20px;
}
div{
     width:100%;
}