body {
	background-color: white;
}
h1 {
	background-color: #71de9e;
	padding: 10px;
	border: solid 10px #86BBD5;
	margin: 10px;
}
h2 {
	background-color:#e87021;
	font-family: "verdana";
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 5px;
	border: dotted 10px #24075c;
	margin: 5px;
	width: 400px;
}
p{
	font-size: 15px;
}
ol {
	font-family: "verdana";
}
li {
	background-color: #71de9e;
	padding: 10px;
	border: solid 10px #86BBD5;
	margin: 20px;
	width: 200px;
	/*font-weight: bold;*/
}
code {
	color: #e87021;
}